manifest {
    homePage = 'http://github.com/lifebit-ai/{{placeholder}}'
    description = 'Nextflow pipeline to analyse {{placeholder}}'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    output       = 'results'
    threshold    = 0.25

    // Required
    required_file           = false

    help                    = false
}
profiles {

    docker { docker.enabled = true }

    standard { 
        includeConfig 'conf/executors/google_pipelines.config'
    }
    google_pipelines { 
        includeConfig 'conf/executors/google_pipelines.config' 
        }
    testdata { 
        includeConfig 'conf/examples/testdata.config' 
        }
}
